* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    font-family: 'Montserrat', sans-serif !important;
}

.body_index_login {
    background-image: url(../images/fondos/image3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.contenedor_todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}


/*Formularios*/

.contenedor_login-register {
    display: flex;
    width: 100%;
    max-width: 380px;
    top: -185px;
    left: 10px;
    margin-left: 180px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor_login-register form {
    width: 50%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor_login-register form h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #150940;
}

.contenedor_login-register form h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

.contenedor_login-register form input {
    width: 95%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor_login-register form button {
    padding: 10px 40px;
    margin-top: 20px;
    margin-left: 65px;
    border-radius: 6px;
    font-size: 16px;
    background: #150940;
    font-weight: bold;
    cursor: pointer;
    color: white;
    outline: none;
}

.formulario_login {
    opacity: 1;
    display: block;
}

.formulario_register {
    display: none;
}

body {
    margin-left: 80px;
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main {
    padding: 20px;
}

header {
    width: 100%;
    height: 80px;
    background: #150940;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

/*Estilo parrafo Inicio*/
/* Estilos para el contenedor */
#contenido-inicio {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Estilos para el párrafo */
#contenido-inicio p {
    margin: 10px 0;
    font-weight: 500;
}


/*#contenido-datos {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24,46,89);
    max-height: 700px;
    overflow: auto;
}*/

#contenido-principal {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    max-height: 700px;
    overflow: auto;
}

#contenido-usuarios {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    max-height: 100%;
    overflow: auto;
    /* Agregamos desplazamiento vertical si el contenido es demasiado largo */
}

#contenido-integrantes {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    max-height: 100%;
    overflow: auto;
    /* Agregamos desplazamiento vertical si el contenido es demasiado largo */
}

#contenido-permisos {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    max-height: 100%;
    overflow: auto;
}

#contenido-vacaciones {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 62%;
    overflow: auto;
}

#contenido-certificados {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 60%;
    overflow: auto;
} 

#contenido-certificados-lab {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 40%;
    overflow: auto;
} 

#contenido-carga {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 80%;
    overflow: auto;
} 


#contenido-bitacora {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    max-height: 100%;
    width: 80%;
    overflow: auto;
}

#contenido-det-vacaciones {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 98%;
    overflow: auto;
}

#contenido-det-vacaciones h2 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}

#contenido-det-vacaciones h2.carda-title,
#contenido-det-vacaciones h2.carde-title {
    font-size: 35px !important;
    font-weight: 700 !important;
    margin: 0 auto !important;
}

.boton-vacaciones {
    background-color: #150940;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.boton-vacaciones:hover {
    background-color: white;
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    color: #150940;
}

.vacaciones-img {
    max-width: 100%;
    height: auto;
    max-height: 320px;
    transition: transform 0.4s ease;
}

.vacaciones-img:hover {
    transform: scale(1.05);
}

#titulo-vacaciones {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.dias-pendientes-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #150940;
    color: white;
    font-size: 60px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.dias-pendientes-circle:hover {
    transform: scale(1.05);
    background-color: 150940;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    color: white;
}

.seccion-inicio {
    background-color: #fdfdfd;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.seccion-bitacora {
    background-color: #fdfdfd;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.seccion-certificados {
    background-color: #fdfdfd;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.seccion-vacaciones {
    background-color: #fdfdfd;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.seccion-carga {
    background-color: #fdfdfd;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

#contenido-th-vacaciones {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 100%;
    overflow: auto;
}

.seccion-cerrar-sesion {
    background-color: #fdfdfd;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

#contenido-cerrar-sesion {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 590px;
    overflow: auto;
}

#contenido-cerrar-sesion a.btn:hover {
    background-color: #fff;
    color: #ff0000;
    box-shadow: 2px 2px 4px #000;
}

#contenido-th {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 70%;
    overflow: auto;
}

.boton-vacantes {
    background-color: #150940;
    color: #fff;
    font-weight: bold;
    box-shadow: 2px 2px 4px #000;
    border: none;
    width: 48%;
    margin: 5px;
    padding: 15px;
    transition: all 0.2s ease;
}

.boton-vacantes:hover {
    background-color: #fff;
    color: #150940;
    transform: scale(1.05);
    box-shadow: 4px 4px 8px #000;
}

.contenido-vacante img {
    width: 43%;
}

.contenido-desprendible {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 40%;
    overflow: auto;
}

.tarjeta-certificados {
    background: #fdfdfd;
    border-radius: 20px;
    padding: 30px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px rgba(24, 46, 89, 0.3);
    flex-wrap: wrap;
}

.texto-certificados {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.titulo-certificados {
    font-size: 35px;
    font-weight: 900;
    color: #150940;
    margin-bottom: 10px;
}

.descripcion-certificados {
    font-size: 18px;
    color: #444;
    margin-bottom: 20px;
}

.custom-select-desprendible {
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 70%;
    margin: 0 auto;
}

.boton-certificados {
    background-color: #150940;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    text-align: center;
    transition: all 0.3s ease;
}

.boton-certificados:hover {
    background-color: white;
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    color: #150940;
}

.certificados-img {
    max-width: 100%;
    height: auto;
    max-height: 320px;
    transition: transform 0.4s ease;
}

.certificados-img:hover {
    transform: scale(1.05);
}

#contenido-cerrar-sesion a.btn.btn-danger {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

#tabla_th th,
#tabla_th td,
#tabla_usuarios th,
#tabla_usuarios td,
#tabla_integrantes th,
#tabla_integrantes td,
#tabla_vacaciones th,
#tabla_vacaciones td,
#tabla_permisos th,
#tabla_permisos td
{
    padding: 10px;
    text-align: center;
}

#editar-permiso {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 590px;
    overflow: auto;
    /* Agregamos desplazamiento vertical si el contenido es demasiado largo */
}

#editar-permiso .titulo-editar-permiso {
    margin-left: 180px;
    margin-bottom: 30px;
}

#editar-permiso .botones-editar-permiso {
    margin-left: 195px;
    margin-bottom: 30px;
}

#agregar-permiso {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 590px;
    overflow: auto;
    /* Agregamos desplazamiento vertical si el contenido es demasiado largo */
}

#agregar-permiso .titulo-agregar-permiso {
    margin-left: 180px;
    margin-bottom: 30px;
}

#agregar-permiso .botones-agregar-permiso {
    margin-left: 195px;
    margin-bottom: 30px;
}

#agregar-usuario {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 590px;
    overflow: auto;
    /* Agregamos desplazamiento vertical si el contenido es demasiado largo */
}

#agregar-usuario .titulo-agregar-usuario {
    margin-left: 160px;
    margin-bottom: 30px;
}

#agregar-usuario .botones-agregar-usuario {
    margin-left: 17 5px;
    margin-bottom: 30px;
}

#editar-usuario {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 590px;
    overflow: auto;
    /* Agregamos desplazamiento vertical si el contenido es demasiado largo */
}

#editar-usuario .titulo-editar-usuario {
    margin-left: 100px;
    margin-bottom: 30px;
}

#editar-usuario .botones-editar-usuario {
    margin-left: 175px;
    margin-bottom: 30px;
}

#agregar-integrante {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 590px;
    overflow: auto;
    /* Agregamos desplazamiento vertical si el contenido es demasiado largo */
}

#agregar-integrante .titulo-agregar-integrante {
    margin-left: 90px;
    margin-bottom: 30px;
}

#agregar-integrante .botones-agregar-integrante {
    margin-left: 175px;
    margin-bottom: 30px;
}

#editar-integrante {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 590px;
    overflow: auto;
    /* Agregamos desplazamiento vertical si el contenido es demasiado largo */
}

#editar-integrante .titulo-editar-integrante {
    margin-left: 90px;
    margin-bottom: 30px;
}

#editar-integrante .botones-editar-integrante {
    margin-left: 175px;
    margin-bottom: 30px;
}

#agregar-vacaciones {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 590px;
    overflow: auto;
    /* Agregamos desplazamiento vertical si el contenido es demasiado largo */
}

#agregar-vacaciones .titulo-agregar-vacaciones {
    margin-left: 90px;
    margin-bottom: 30px;
}

#agregar-vacaciones .botones-agregar-vacaciones {
    margin-left: 175px;
    margin-bottom: 30px;
}

#editar-vacaciones {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 590px;
    overflow: auto;
    /* Agregamos desplazamiento vertical si el contenido es demasiado largo */
}

#editar-vacaciones .titulo-editar-vacaciones {
    margin-left: 90px;
    margin-bottom: 30px;
}

#editar-vacaciones .botones-editar-vacaciones {
    margin-left: 175px;
    margin-bottom: 30px;
}

#agregar-solicitud {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    width: 80%;
    margin-top: 3%;
    overflow: auto;
}

#agregar-solicitud .titulo-agregar-solicitud {
    margin-left: 30px;
    margin-bottom: 30px;
}

#agregar-solicitud .botones-agregar-solicitud {
    margin-left: 175px;
    margin-bottom: 30px;
}

.titulo-banner {
    font-weight: bold;
}

.botones-vacaciones {
    margin-top: 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin: 0 0 5px;
}

.icon_menu {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
    color: #fff;
}

.icon_menu i {
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    padding-top: 15px;
}

.menu_side {
    width: 80px;
    height: 100%;
    background: #150940;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #150940;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.blue-text {
    color: #150940;
}

.boton-azul {
    background-color: #150940;
    color: #fff;
    font-weight: bold;
    box-shadow: 2px 2px 4px #000;
    border: none;
    width: 48%;
    margin: 5px;
    padding: 15px;
    transition: all 0.2s ease;
}

.boton-azul:hover {
    background-color: #fff;
    color: #150940;
    transform: scale(1.05);
    box-shadow: 4px 4px 8px #000;
}

.boton-pruebas {
    background-color: #150940;
    color: #fff;
    font-weight: bold;
    box-shadow: 2px 2px 4px #000;
    border: none;
    margin: 5px;
    padding: 15px;
    transition: all 0.2s ease;
}

.boton-pruebas:hover {
    background-color: #fff;
    color: #150940;
    transform: scale(1.05);
    box-shadow: 4px 4px 8px #000;
}

.boton-desprendible {
    background-color: #150940;
    color: #000;
    font-weight: bold;
    box-shadow: 2px 2px 4px #000;
    border: none;
    margin: 5px;
    transition: all 0.2s ease;
}

.boton-desprendible:hover {
    background-color: #fff;
    color: #150940;
    transform: scale(1.05);
    box-shadow: 4px 4px 8px #000;
}

.menu_side::-webkit-scrollbar {
    display: none;

}

.menu_side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name_page {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name_page i {
    width: 20px;
    margin-right: 20px;
}

.options_menu {
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options_menu a {
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options_menu a:hover {
    color: white;
}

.options_menu .option {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options_menu .option i {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options_menu .option h4 {
    font-weight: 300;
    cursor: pointer;
}

a.selected {
    color: #fff;
}

.selected:before {
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

/*Clases para usar en JavaScript*/

.body_move {
    margin-left: 250px;
}

.menu_side_move {
    width: 250px;
}

#mensaje {
    background-color: #dff0d8;
    /* Color de fondo */
    color: #3c763d;
    /* Color del texto */
    border: 1px solid #d6e9c6;
    /* Borde */
    padding: 15px;
    /* Espaciado interno */
    margin-top: 20px;
    /* Espaciado superior */
    border-radius: 5px;
    /* Bordes redondeados */
    text-align: center;
    /* Alineación del texto */
    display: none;
    /* Ocultar por defecto */
}

#mensaje.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

#mensaje.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.seccion-superior-boceto {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    overflow: auto;
    display: flex;
    align-items: center;
}

.integrante-foto-boceto {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.integrante-foto-boceto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.integrante-nombre-cargo {
    flex-grow: 1;
}

.nombre-integrante-boceto {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin: 0 0 0 20px;
}

.cargo-integrante-boceto {
    font-size: 18px;
    /* Tamaño de cargo */
    color: #666;
    margin: 0 0 0 20px;
}

.seccion-inferior-boceto {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 10px rgba(24, 46, 89);
    margin: 20px;
}

.titulo-datos {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
}

.datos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 25px 60px; /* fila - columna */
}

.grupo-dato {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icono-circular {
    width: 50px;
    height: 50px;
    background-color: #150940;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icono-circular i {
    font-size: 20px;
}

.texto {
    display: flex;
    flex-direction: column;
}

.etiqueta-dato {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.valor-dato {
    font-size: 18px;
    color: #000;
}

.linea-divisoria-boceto {
    border: none;
    border-top: 2px solid #000;
    margin: 10px 0;
}

.card-hover {
    background-color: #150940;
    border-radius: 15px;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.card-hover h5,
.card-hover h3,
.card-hover i {
    color: #ffffff;
    transition: color 0.3s;
}

.card-hover:hover {
    background-color: #ffffff;
    transform: scale(1.02);    
    box-shadow: 0 0 10px rgba(24, 46, 89);
}

.card-hover:hover h5,
.card-hover:hover h3,
.card-hover:hover i {
    color: #150940;
}

.tarjeta {
    border-radius: 15px;
    background-color: #f8f9fa;
    padding: 20px;
    transition: transform 0.2s ease;
    margin-bottom: 20px;
    height: 100%;
}

.tarjeta-hover {
    background-color: #150940;
    border-radius: 15px;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.tarjeta-hover h5,
.tarjeta-hover h3,
.tarjeta-hover i {
    color: #ffffff;
    transition: color 0.3s;
}

.tarjeta-hover:hover {
    background-color: #ffffff;
    transform: scale(1.02);    
    box-shadow: 0 0 10px rgba(24, 46, 89);
}

.tarjeta-hover:hover h5,
.tarjeta-hover:hover h3,
.tarjeta-hover:hover i {
    color: #150940;
}

.carda {
    border-radius: 15px;
    background-color: #f8f9fa;
    padding: 20px;
    transition: transform 0.2s ease;
    margin-bottom: 20px;
    height: 100%;
}

.carde {
    border-radius: 15px;
    background-color: #f8f9fa;
    padding: 20px;
    transition: transform 0.2s ease;
    margin-bottom: 20px;
    width: 790px;
}

.cardi {
    border-radius: 15px;
    background-color: #150940;
    padding: 20px;
    transition: transform 0.2s ease;
    margin-bottom: 20px;
}

.carda:hover, .carde:hover, .cardi:hover {
    transform: translateY(-5px);
}

.carda-body, .cardi-body {
    padding: 10px;
}

.carde-body{
    padding: 15px;
}

.icono-carda, .icono-carde {
    color: #150940;
}

.icono-cardi {
    color: #f0f0f0;
}

.carda-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.carde-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.cardi-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #f0f0f0;
}

.cantidad-carda, .cantidad-carde {
    font-size: 28px;
    font-weight: 700;
    color: #150940;
}

.cantidad-cardi {
    font-size: 28px;
    font-weight: 700;
    color: #f0f0f0;
}

.table-dark th {
    background-color: #150940 !important;
    color: white;
}

.table thead th {
    background-color: #150940 !important;
    color: white;
}

.table tbody td {
    background-color: white !important;
    color: #150940;
}

.table-bordered td{
    border-color: #150940;
}

.table-bordered th {
    border-color: white;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #150940 !important;
    color: white !important;
}

.tabla-vacaciones {
    font-size: 14px;
}

.tabla-vacaciones thead th {
    background-color: #150940;
    color: #fff;
    text-align: center;
}

.tabla-vacaciones tbody td {
    text-align: center;
    vertical-align: middle;
}

.icono-card {
    color: #150940;
}

.botones-vacaciones a.btn-danger {
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 8px;
}

.boton-certificado-lab a.btn-danger {
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 8px;
}

.logo-img {
    max-width: 100%;
    height: auto;
    max-height: 40px;
    transition: transform 0.4s ease;
}

.logo-img:hover {
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .body_index_login {
        background-size: cover;
        background-attachment: scroll;
    }

    .contenedor_login-register {
        margin-left: 0;
        left: 0;
        top: 0;
        flex-direction: column;
        align-items: center;
    }

    .contenedor_login-register form {
        width: 100%;
        position: relative;
        padding: 40px 20px;
    }

    .seccion-superior-boceto {
        flex-direction: column;
        text-align: center;
        gap: 15px;
        padding: 15px 20px;
    }

    .integrante-foto-boceto {
        width: 80px;
        height: 80px;
        /* Hacerla circular en móviles si lo prefieres */
    }

    .integrante-nombre-cargo {
        text-align: center;
    }

    .nombre-integrante-boceto {
        font-size: 1.5em;
    }

    .cargo-integrante-boceto {
        font-size: 1em;
    }

    .seccion-inferior-boceto {
        padding: 20px;
    }

    .subseccion-datos-personales-laborales,
    .subseccion-beneficios-boceto {
        grid-template-columns: 1fr;
        /* Una sola columna en pantallas pequeñas */
        gap: 15px;
    }

    .etiqueta-dato {
        font-size: 0.9em;
    }

    .valor-dato {
        font-size: 0.9em;
    }
}